:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

section[main-content] {
  height: 100%;
  margin: 0;

  h4 {
    padding: 0 0 .5rem;
    margin: 0 0 .5rem;
    border-bottom: solid #ddd 1px;
  }
}

section[main-content] {
  padding: 0.5rem 0.5rem 0;
}
